* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

