@import "variables";
@import "mixins";
@import "function";
@import "effets";
@import "button";

/*Font*/

* {
    font-family: 'roboto';
    margin:0;
}

a {
    text-decoration: none;
    color:black
}


h2 {
    margin: 20px;
}

/* header et formulaire */

.logo {
    width: 50%;
    display:block;
    @include center-box;
}

.search__town  {
    display: flex;
    flex-direction: row;
    width:100%;
    padding:20px 0px 20px 0px;
    background-color: $background-location;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
  }

.location-dot {
    font-size: 16px;
    margin-right:10px;
    align-items: center;
  
}

input {
    font-weight: bold;
    background-color: $background-location;
    border:none;
    padding:0px;
    text-align: center;
    font-size: 19px;
    width:150px;

}
    
  /*hero*/ 

.hero__section {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    text-align: center;
    padding: 40px 0px 80px 0px;
        p   {
            font-size: 18px;
            padding:30px;
            margin:20px;
        }
        a   {
            color:white;
            margin-top:15px;
            padding:20px;
            border-radius: 25px;
            margin:auto;
            font-weight: bold;
            background: linear-gradient($secondary-color,$primary-color);
            box-shadow: 3px 12px 22px 3px rgba(0,0,0,0.24);
        }
}

/*Fonctionnement*/ 

.filter__container {
    display:flex;
    flex-direction: column;

.filter__content {
    display:flex;
    flex-direction: row;
    @include texture-button;   
        p {
            margin:10px;
            border-radius: 50px;
            width:30px;
            height:30px;
            background-color: $primary-color;
            color:$main-color;
            line-height: 30px;
            text-align: center;
            position: relative;
            top: 0px; right: 46px;
        }

        i {
            margin:15px; /*centrer le fa */     
        }

        h3 {
            margin:15px;
            text-align: center;
            white-space: nowrap;
        }

}
}

/*restaurants*/

.restaurant {
    display: flex;
    flex-direction: column;
    background-color: $background-color;

    .card {
        padding:0px;
        background-color: white;
        border-radius: 20px;
        margin:20px 20px 20px 20px;
        background-color: yellow;
        }

    img {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width:100%;
        height: 40%;         
        }

    .card__nouveau {
        color:#008766;
        background-color: #99e2d0;
        text-align: center;
        width:70px;
        padding: 5px;
        position: relative;
        top: 50px; left: 80%;
        
        }

    .card__text {

        background-color: $test-color;
    }
}
/*footer*/
footer {
    display: flex;
    background-color: #353535;
    color: white;
   h2 {
    font-family: "Shrikhand";
    margin:20px;
  
   }

}

.footer__list  {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin:20px;
  
 
  .footer__text {
    text-decoration: none;
    margin: 0px;
    box-sizing: border-box;
  
  
   a {
    color:$main-color;
    display: flex;
    flex-direction: row;
  }
  }
}

  ul li {
    padding-bottom: 5px;
    list-style-position: outside;
  }