@import "variables";



* {
    margin: 0;
    padding:0;
    text-decoration: none;
    & a {
        color:$header-color-h1;
    }
    & a:visited {
        color:$header-color-h1;
    }
    & a:active {
        color:$header-color-h1;
    }
}

